.head-text{
    text-align: center;
    color: teal;
    font-size: 32px;
}
hr{
    border:1px double yellowgreen;
    padding:1px;
    width:80%;
}
h3{
    font-size: 32px;
    font-weight: bold;
    color: teal;
    margin: 5px;
    padding:auto;
}
table,tr,td{
    border:2px double grey;
    border-collapse:separate;
    margin: 20px;
    padding: 30px;
    font-family: sans-serif;

}
.container{
    display: inline-block;
}
.container-text{
    text-align: left;
}
